[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
itsybitser = {editable = true, path = "."}
pypng = "*"
pytest = "*"
pytest-cov = "*"

[requires]
